@using RickAndMortySinglePage.Models
@model Location

<body>
    <h1>@Model.name</h1>   
    <p>Type: @Model.type</p>
    <p>Dimension: @Model.dimension</p>
    <p>Created: @Model.created</p>
    
    @foreach (var resident in Model.residents)
    {
        <p>Resident: @resident</p>
    }

    
    <a href="@Model.url">Location</a>


    <h2><a href="/Character">Back</a></h2>
</body>