@using RickAndMortySinglePage.Models;
@model Character
<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>@Model.Name</h1>
        <img src="@Model.Image" alt="@Model.Name" />
        <p>Species: @Model.Species</p>
        <p>Status: @Model.Status</p>

        <a href="/Character">Back</a>
    </body>
</html>
